input,textarea{width:100%;display:block}

table {
    width: 100%;
}

.mud-test {
    font-family: monospace;
    font-size: 14px;
    background-color: black;
    color: white;
    padding: 0.5ex;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

.above-scroller  {
    overflow-x: scroll;
    overflow-y:hidden;
    display:block;
    height: 20px;
  }
.scroller {
    height: 20px;
  }
  
.mud-block {
    min-height: 400px;
    overflow-x: scroll;
    overflow-y: scroll;
    flex-direction: column; 
    flex-wrap: wrap;
    font-family: monospace;
    font-size: 14px;
    padding: 0.5ex;
    margin-top: 0;
    margin-bottom: 0;
    border-style: solid;
    border-color: grey;
    border-bottom-width: thin;
}

.mud-message {
    max-width: 100%;
    display:inline;
}

.mud-input {
    font-family: monospace;
    font-size: 14px;
    border-style: solid;
    border-color: black;
    border-bottom-width: thick;
}