input,textarea{width:100%;display:block}

table {
    width: 100%;
}

.mud-block {
    max-width: 100%;
    width: 600px;
    height: 90vh;
    min-height: 400px;
    max-height: 90vh;
    overflow-x: auto;
    overflow-y: auto;
    flex-direction: column; 
    font-family: monospace;
    font-size: 13px;
    background-color: black;
    color: white;
    padding: 0.5ex;
    margin-top: 0;
    margin-bottom: 0;
}

.mud-message {
    max-width: 100%;
    display:inline;
}

.mud-input {
    max-width: 600px;
}