input,textarea{width:100%;display:block}

table {
    width: 100%;
}

.mud-test {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    background-color: black;
    color: white;
    padding: 0.5ex;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

.mud-block {
    height: 90vh;
    min-height: 400px;
    max-height: 90vh;
    overflow-x: auto;
    overflow-y: auto;
    flex-direction: column; 
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    background-color: black;
    color: white;
    padding: 0.5ex;
    margin-top: 0;
    margin-bottom: 0;
}

.mud-message {
    max-width: 100%;
    display:inline;
}

.mud-input {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}