input,textarea{width:100%;display:block}

table {
    width: 100%;
}

.mud-block {
    max-width: 100%;
    width: 50.5em;
    height: 90%;
    overflow: auto;
    background-color: black;
    color: white;
    padding: 0.5ex;
    margin-top: 0;
    margin-bottom: 0;
}

.mud-message {
    max-width: 100%;
    display:inline;
}

.mud-input {
    max-width: 100%;
}
