<div class="mud-block" ngx-auto-scroll lock-y-offset="10" observe-attributes>
  <div display="inline" *ngFor="let a2hMudline of mudlines">
    <app-mudspan [ansi2html]="a2hMudline"></app-mudspan>
  </div>
</div>
<table>
  <tr>
    <td>
      <input class="mud-input" #mudInput (keyup.enter)="sendMessage()" (keyup)="onKeyUp($event)" [(ngModel)]="inpmessage" />
    </td>
    <td>
      <button (click)="sendMessage()">Send</button>
      <app-mudlist (mudselection)="onSelectMud($event)"></app-mudlist>
    </td>
  </tr>
</table>
