<table class="editor">
  <tr class="editcommands">
    <td colspan="2">
      <table class="editcommandstable">
        <tr>
          <td width="50%">
            <input class="editbutton" type="button" (onclick)="clickSave()" value="Spechern">
          </td>
          <td width="50%">
            <input class="editbutton" type="button" (onclick)="clickCancel()" value="Abbrechen">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="editrow">
    <td width="1%">
      <textarea class="linearea" readOnly="true" wrap='off'></textarea>
    </td>
    <td width="80%">
      <textarea class="editarea" cols="80" rows="2" wrap="off" (onkeypress)="editKey()" (onscroll)="scrollEdit()"></textarea>
    </td>
  </tr>
</table>