
<mat-expansion-panel>
    <mat-expansion-panel-header>
        Filterparameter
    </mat-expansion-panel-header>
    <mat-form-field>
        <input matInput type="input" placeholder="Start-ID" [(ngModel)]="logsrv.sdata.idFrom"  name="idFrom">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="input" placeholder="End-ID" [(ngModel)]="logsrv.sdata.idTo"  name="idTo">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="input" placeholder="Startzeit" [(ngModel)]="logsrv.sdata.tsFrom"  name="tsFrom">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="input" placeholder="Endzeit" [(ngModel)]="logsrv.sdata.tsTo"  name="tsTo">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="input" placeholder="Dateiname-Exakt" [(ngModel)]="logsrv.sdata.filename"  name="filename">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="input" placeholder="Dateiname-Pattern" [(ngModel)]="logsrv.sdata.filenameLike"  name="filenameLike">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="input" placeholder="IP-Adresse" [(ngModel)]="logsrv.sdata.real_ip"  name="real_ip">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="input" placeholder="Meldungspattern" [(ngModel)]="logsrv.sdata.messageLike"  name="messageLike">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Sortierreihenfolge</mat-label>
        <mat-select [(ngModel)]="logsrv.sdata.orderby">
            <mat-option *ngFor="let sorter of logsrv.sortBy" [value]="sorter.key">
            {{sorter.txt}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div><mat-checkbox *ngFor="let dlvl of logsrv.debuglevel; index as i" [(ngModel)]="logsrv.selectedDebugLevel[i]">{{dlvl}}</mat-checkbox></div>
</mat-expansion-panel>