@if (items$ | async; as items) {
  @if (hasAnyItems(items)) {
    @for (category of items | keyvalue; track category) {
      <section class="inv-category">
        <h3 class="inv-category-name">{{ category.key }}</h3>
        <ul class="inv-items">
          @for (item of category.value; track item) {
            <li>{{ item }}</li>
          }
        </ul>
      </section>
    }
  } @else {
    <div class="inv-empty">Inventar ist leer.</div>
  }
} @else {
  <div class="inv-empty">Lade Inventar…</div>
}
