<p-confirmPopup></p-confirmPopup>
<p-toolbar>
    <div #handleToolbar class="p-toolbar-group-left">
        <p-toast position="top-left"></p-toast>
        <!--
        <p-slideMenu #menu [model]="items" [popup]="true" [appendTo]="handleToolbar" [baseZIndex]="zinSearch"></p-slideMenu>
        <button #btn type="button" pButton icon="pi pi-list" label="Menue" (click)="menu.toggle($event)"></button>
        -->
        <p-dropdown [options]="themes" [(ngModel)]="currentTheme" (onChange)="changeTheme()" [virtualScroll]="true" itemSize="10" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Wähle 'Theme'"></p-dropdown>
        <p-menubar [model]="items"></p-menubar>
    </div> 
    <div class="p-toolbar-group-right">
        <p-button label="Abbrechen" icon="pi pi-times" (click)="onCancel($event)"styleClass="p-button-warning"></p-button>
    </div> 
</p-toolbar>
<div class="app-ace-editor" #editor [style]="myStyle()"></div>
