<div class="menu-block">
  <button class="main-menu" *ngIf='!connected' (click)="onClickMenu('connect')" mat-button>Verbinden</button>
  <button class="main-menu" *ngIf='connected' (click)="onClickMenu('disconnect')" mat-button>Trennen</button>
  <button class="main-menu" (click)="onClickMenu('displayViewConfig')" mat-button>Anzeige</button>

  <button class="main-menu" mat-button [matMenuTriggerFor]="gmcpMenuBlock" *ngIf="gmcpFlag">Module</button>
  <mat-menu #gmcpMenuBlock="matMenu">
    <button *ngFor="let gmen of gmcpMenu"(click)="onClickGmcpMenu(gmen)" mat-menu-item>
      <mat-icon *ngIf='gmen.active'>check_box</mat-icon>
      <mat-icon *ngIf='!gmen.active'>check_box_outline_blank</mat-icon>
      <span>{{gmen.name}}</span>
    </button>
  </mat-menu>
  <button class="main-menu" *ngIf='mudmcfg.enablePing' (click)="onClickMenu('ping')" mat-button>{{mudmcfg.deltaPing}}</button>
  <button *ngIf='false' class="main-menu" (click)="onClickMenu('new-window')" mat-button>Fenstertest</button>
  <button *ngIf='false' class="main-menu" (click)="onClickMenu('loginPortal')" mat-button>Anmelden am Portal</button>
</div>


