<p-tabView [scrollable]="true">
    <p-tabPanel header="Ohne">
       <app-keypad [keypad]="keypad.getLevel('')" (keyAction)="keyAction($event)"></app-keypad>
    </p-tabPanel>
    <p-tabPanel header="Umschalt">
       <app-keypad [keypad]="keypad.getLevel('Shift')" (keyAction)="keyAction($event)"></app-keypad>
    </p-tabPanel>
    <p-tabPanel header="Strg">
       <app-keypad [keypad]="keypad.getLevel('Ctrl')" (keyAction)="keyAction($event)"></app-keypad>
    </p-tabPanel>
    <p-tabPanel header="Alt">
       <app-keypad [keypad]="keypad.getLevel('Alt')" (keyAction)="keyAction($event)"></app-keypad>
    </p-tabPanel>
    <p-tabPanel header="Meta">
       <app-keypad [keypad]="keypad.getLevel('Meta')" (keyAction)="keyAction($event)"></app-keypad>
    </p-tabPanel>
    <p-tabPanel header="UmschaltStrg">
       <app-keypad [keypad]="keypad.getLevel('ShiftCtrl')" (keyAction)="keyAction($event)"></app-keypad>
    </p-tabPanel>
    <p-tabPanel header="UmschaltAlt">
       <app-keypad [keypad]="keypad.getLevel('ShiftAlt')" (keyAction)="keyAction($event)"></app-keypad>
    </p-tabPanel>
    <p-tabPanel header="UmschaltMeta">
       <app-keypad [keypad]="keypad.getLevel('ShiftMeta')" (keyAction)="keyAction($event)"></app-keypad>
    </p-tabPanel>
    <p-tabPanel header="UmschaltStrgAlt">
       <app-keypad [keypad]="keypad.getLevel('ShiftCtrlAlt')" (keyAction)="keyAction($event)"></app-keypad>
    </p-tabPanel>
</p-tabView>