<p-dialog #dialog
    [header]="config.wtitle" 
    [(visible)]="config.visible"
    [closeOnEscape]="false"
    [closable]="!config.dontCancel"
    [baseZIndex]="config.zIndex"
    (onShow)="doWindowAction($event,'show')"
    (onHide)="doWindowAction($event,'hide')"
    (onResizeInit)="doWindowAction($event,'resize_init')"
    (onResizeEnd)="doWindowAction($event,'resize_end')"
    (onDragEnd)="doWindowAction($event,'drag_end')"
    (onMaximize)="doWindowAction($event,'maximize')"
    position="right" [keepInViewport]="true"
    appendTo="body"
    >
    <!--{{config.component}}-->
    <app-dirlist *ngIf="config.component==='DirlistComponent'" [config]="config"></app-dirlist>
    <app-editor *ngIf="config.component==='EditorComponent'" [config]="config"></app-editor>
    <app-editor-search *ngIf="config.component==='EditorSearchComponent'" [config]="config"></app-editor-search>
    <app-char-stat *ngIf="config.component==='CharStatComponent'" [config]="config"></app-char-stat>
</p-dialog>