<ng-container *ngIf="this.mode$ | async as mode">
  <p-splitter
    *ngIf="mode === 'split'; else singleMode"
    layout="vertical"
    [style]="{ flex: '0 1 100%', overflow: 'hidden' }"
    [panelStyle]="{ overflow: 'hidden' }"
    [panelSizes]="[85, 15]"
  >
    <ng-template pTemplate>
      <app-mud-output
        id="test"
        *ngIf="this.output$ | async as lines"
        [lines]="lines"
        [foregroundColor]="this.v.stdfg"
        [backgroundColor]="this.v.stdbg"
        [shallScroll]="true"
      ></app-mud-output>
    </ng-template>
    <ng-template pTemplate>
      <app-mud-output
        #mainOutputSplit
        *ngIf="this.output$ | async as lines"
        [lines]="lines"
        [foregroundColor]="this.v.stdfg"
        [backgroundColor]="this.v.stdbg"
        [autoScroll]="true"
      ></app-mud-output>
    </ng-template>
  </p-splitter>

  <ng-template #singleMode>
    <app-mud-output
      *ngIf="this.output$ | async as lines"
      [lines]="lines"
      [foregroundColor]="this.v.stdfg"
      [backgroundColor]="this.v.stdbg"
      [autoScroll]="true"
      [shallScroll]="true"
    ></app-mud-output>
  </ng-template>

  <ng-container *ngIf="this.isConnected$ | async; else disconnected">
    <div style="display: flex; align-items: center">
      <app-mud-input
        [mode]="(this.showEcho$ | async) ? 'text' : 'password'"
        (messageSent)="onInputReceived($event)"
        [style]="{ flex: '1 1 auto' }"
      ></app-mud-input>
      <p-button
        [style]="{ flex: '0 1 auto' }"
        [label]="mode === 'normal' ? 'split' : 'unsplit'"
        (click)="this.onSplitToggle()"
      ></p-button>
    </div>
  </ng-container>

  <ng-template #disconnected>
    <div id="disconnected-panel">
      <p>Disconnected!</p>
      <p-button label="reconnect" (click)="this.onConnectClicked()"></p-button>
    </div>
  </ng-template>
</ng-container>
