<app-mud-output
  *ngIf="this.output$ | async as lines"
  [lines]="lines"
  [foregroundColor]="this.v.stdfg"
  [backgroundColor]="this.v.stdbg"
></app-mud-output>

<ng-container *ngIf="this.isConnected$ | async; else disconnected">
  <app-mud-input
    [mode]="(this.showEcho$ | async) ? 'text' : 'password'"
    (messageSent)="onInputReceived($event)"
  ></app-mud-input>
</ng-container>

<ng-template #disconnected>
  <div id="disconnected-panel">
    <p>Disconnected!</p>
    <p-button label="reconnect" (click)="this.onConnectClicked()"></p-button>
  </div>
</ng-template>

<!--<p-divider layout="vertical"></p-divider>
  <app-inventory [inv]="invlist" [vheight]="v.ref_height"></app-inventory>-->
