@if (this.output$ | async; as lines) {
  <app-mud-output
    [lines]="lines"
    [foregroundColor]="this.v.stdfg"
    [backgroundColor]="this.v.stdbg"
  ></app-mud-output>
}

@if (this.isConnected$ | async) {
  <app-mud-input
    [mode]="(this.showEcho$ | async) ? 'text' : 'password'"
    (messageSent)="onInputReceived($event)"
  ></app-mud-input>
} @else {
  <div id="disconnected-panel">
    <p>Disconnected!</p>
    <p-button label="reconnect" (click)="this.onConnectClicked()"></p-button>
  </div>
}


<!--<p-divider layout="vertical"></p-divider>
<app-inventory [inv]="invlist" [vheight]="v.ref_height"></app-inventory>-->
