//   table {
//     width: 100%;
//   }

//   .mud-test {
//     font-family: monospace;
//     font-size: 14px;
//     background-color: black;
//     color: white;
//     padding: 0.5ex;
//     margin-top: 0;
//     margin-bottom: 0;
//     display: inline-block;
//   }
:host {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  overflow: auto;

  app-mud-menu {
    flex: 0 1 auto;
  }

  p-splitter {
    flex: 0 1 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .p-splitter {
      flex: 1 1 100%;
    }
  }

  app-mud-output {
    flex: 1 1 100%;
  }

  app-mud-input {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
  }

  #disconnected-panel {
    display: flex;
    gap: 32px;
    padding: 4px;
    align-items: center;
    align-self: center;
  }
}
