    <p-checkbox label="Invert Colors" [(ngModel)]="cs.invert" [binary]="true" (click)="onClick($event)"></p-checkbox><br/>
    <p-checkbox label="Black on White" [(ngModel)]="cs.blackOnWhite" [binary]="true" (click)="onClick($event)"></p-checkbox><br/>
    <p-checkbox label="Colors off" [(ngModel)]="cs.colorOff" [binary]="true" (click)="onClick($event)"></p-checkbox><br/>
    <p-checkbox label="Local Echo Active" [(ngModel)]="cs.localEchoActive" [binary]="true" (click)="onClick($event)"></p-checkbox><br/>
    <p-colorPicker [(ngModel)]="cs.localEchoColor" [inline]="true" (click)="onClick($event)"></p-colorPicker>
    <p-colorPicker [(ngModel)]="cs.localEchoBackground" [inline]="true" (click)="onClick($event)"></p-colorPicker><br/>
    <span [style.color]="cs.localEchoColor" [style.background]="cs.localEchoBackground" style.align="center">Ergebnis</span><br/>
