/* You can add global styles to this file, and also import other style files */
@import "normalize.css";

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

app-root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
