<div class="grid" *ngIf="charData!==undefined ; else loading">
    <div class="col-6">Charaktername:</div>
    <div class="col-6">{{charData.nameAtMud}}</div>
    <div class="col-6">Status:</div>
    <div class="col-6">{{charData.cStatus}}</div>
    <div class="col-6">Vitals:</div>
    <div class="col-6">{{charData.cVitals}}</div>
</div>
<ng-template #loading>Daten werden geladen!</ng-template>
<div *ngIf="charData!==undefined">
    <div class="grid" *ngFor="let stat of charData.cStats">
        <div class="col-6">{{stat.name}}</div>
        <div class="col-6">{{stat.value}}</div>
    </div>
</div>