<!-- Todo[myst]: Was ist das? -->
<!-- <div class="above-scroller" *ngIf="refWidth">
    <div class="scroller" [style.min-width.px]="refWidth"></div>
  </div> -->
<div
  #container
  class="mud-output doselect"
  [style.background-color]="this.backgroundColor"
  [style.color]="this.foregroundColor"
  [style.overflow]="this.shallScroll ? 'auto' : 'hidden'"
>
  <div class="mud-message" *ngFor="let mudLine of this.lines$ | async">
    <app-mud-span [line]="mudLine"> </app-mud-span>
  </div>
</div>
