// .above-scroller {
//   overflow-x: scroll;
//   overflow-y: hidden;
//   display: block;
//   height: 20px;
// }

// .scroller {
//   height: 20px;
// }

:host {
  display: flex;
  flex-direction: column;
}

.mud-output {
  flex: 0 1 100%;

  overflow: auto;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: monospace;
  font-size: 1rem;
  padding: 4px;

  .mud-message {
    display: contents;
  }
}

@media (max-width: 1000px) {
  .mud-output {
    font-size: 0.93rem;
  }
}

@media (max-width: 720px) {
  .mud-output {
    font-size: 0.75rem;
  }
}

@media (max-width: 580px) {
  .mud-output {
    font-size: 0.7rem;
  }
}

@media (max-width: 500px) {
  .mud-output {
    font-size: 0.6rem;
  }
}

@media (max-width: 450px) {
  .mud-output {
    font-size: 0.49rem;
  }
}
