
/* ANSI-representation as CSS-classes: */
span.bold      { font-weight:bold; }
span.italic    { font-style:italic; }
span.underline { text-decoration:underline; }
span.blink     { text-decoration:blink; }

span.fdefault 	{ color: white; }
span.bdefault	{ background-color: black; }
span.fdefaultf	{ color: #d3d3d3; }
span.bdefaultf	{ background-color: black; }

span.freverse 	{ color: black; }
span.breverse	{ background-color: white; }
span.freversef	{ color: black; }
span.breversef	{ background-color: #d3d3d3; }

/* Foreground colours */
span.f00	{ color: #101010; }
span.f01	{ color: #cd0000; }
span.f02	{ color: #00cd00; }
span.f03	{ color: #cdcd00; }
span.f04	{ color: #0000ee; }
span.f05	{ color: #cd00cd; }
span.f06	{ color: #00cdcd; }
span.f07	{ color: #e5e5e5; }
span.f08	{ color: #7f7f7f; }
span.f09	{ color: #ff0000; }
span.f0a	{ color: #00ff00; }
span.f0b	{ color: #ffff00; }
span.f0c	{ color: #5c5cff; }
span.f0d	{ color: #ff00ff; }
span.f0e	{ color: #00ffff; }
span.f0f	{ color: #ffffff; }
span.f10	{ color: #000000; }
span.f11	{ color: #00005f; }
span.f12	{ color: #000087; }
span.f13	{ color: #0000af; }
span.f14	{ color: #0000d7; }
span.f15	{ color: #0000ff; }
span.f16	{ color: #005f00; }
span.f17	{ color: #005f5f; }
span.f18	{ color: #005f87; }
span.f19	{ color: #005faf; }
span.f1a	{ color: #005fd7; }
span.f1b	{ color: #005fff; }
span.f1c	{ color: #008700; }
span.f1d	{ color: #00875f; }
span.f1e	{ color: #008787; }
span.f1f	{ color: #0087af; }
span.f20	{ color: #0087d7; }
span.f21	{ color: #0087ff; }
span.f22	{ color: #00af00; }
span.f23	{ color: #00af5f; }
span.f24	{ color: #00af87; }
span.f25	{ color: #00afaf; }
span.f26	{ color: #00afd7; }
span.f27	{ color: #00afff; }
span.f28	{ color: #00d700; }
span.f29	{ color: #00d75f; }
span.f2a	{ color: #00d787; }
span.f2b	{ color: #00d7af; }
span.f2c	{ color: #00d7d7; }
span.f2d	{ color: #00d7ff; }
span.f2e	{ color: #00ff00; }
span.f2f	{ color: #00ff5f; }
span.f30	{ color: #00ff87; }
span.f31	{ color: #00ffaf; }
span.f32	{ color: #00ffd7; }
span.f33	{ color: #00ffff; }
span.f34	{ color: #5f0000; }
span.f35	{ color: #5f005f; }
span.f36	{ color: #5f0087; }
span.f37	{ color: #5f00af; }
span.f38	{ color: #5f00d7; }
span.f39	{ color: #5f00ff; }
span.f3a	{ color: #5f5f00; }
span.f3b	{ color: #5f5f5f; }
span.f3c	{ color: #5f5f87; }
span.f3d	{ color: #5f5faf; }
span.f3e	{ color: #5f5fd7; }
span.f3f	{ color: #5f5fff; }
span.f40	{ color: #5f8700; }
span.f41	{ color: #5f875f; }
span.f42	{ color: #5f8787; }
span.f43	{ color: #5f87af; }
span.f44	{ color: #5f87d7; }
span.f45	{ color: #5f87ff; }
span.f46	{ color: #5faf00; }
span.f47	{ color: #5faf5f; }
span.f48	{ color: #5faf87; }
span.f49	{ color: #5fafaf; }
span.f4a	{ color: #5fafd7; }
span.f4b	{ color: #5fafff; }
span.f4c	{ color: #5fd700; }
span.f4d	{ color: #5fd75f; }
span.f4e	{ color: #5fd787; }
span.f4f	{ color: #5fd7af; }
span.f50	{ color: #5fd7d7; }
span.f51	{ color: #5fd7ff; }
span.f52	{ color: #5fff00; }
span.f53	{ color: #5fff5f; }
span.f54	{ color: #5fff87; }
span.f55	{ color: #5fffaf; }
span.f56	{ color: #5fffd7; }
span.f57	{ color: #5fffff; }
span.f58	{ color: #870000; }
span.f59	{ color: #87005f; }
span.f5a	{ color: #870087; }
span.f5b	{ color: #8700af; }
span.f5c	{ color: #8700d7; }
span.f5d	{ color: #8700ff; }
span.f5e	{ color: #875f00; }
span.f5f	{ color: #875f5f; }
span.f60	{ color: #875f87; }
span.f61	{ color: #875faf; }
span.f62	{ color: #875fd7; }
span.f63	{ color: #875fff; }
span.f64	{ color: #878700; }
span.f65	{ color: #87875f; }
span.f66	{ color: #878787; }
span.f67	{ color: #8787af; }
span.f68	{ color: #8787d7; }
span.f69	{ color: #8787ff; }
span.f6a	{ color: #87af00; }
span.f6b	{ color: #87af5f; }
span.f6c	{ color: #87af87; }
span.f6d	{ color: #87afaf; }
span.f6e	{ color: #87afd7; }
span.f6f	{ color: #87afff; }
span.f70	{ color: #87d700; }
span.f71	{ color: #87d75f; }
span.f72	{ color: #87d787; }
span.f73	{ color: #87d7af; }
span.f74	{ color: #87d7d7; }
span.f75	{ color: #87d7ff; }
span.f76	{ color: #87ff00; }
span.f77	{ color: #87ff5f; }
span.f78	{ color: #87ff87; }
span.f79	{ color: #87ffaf; }
span.f7a	{ color: #87ffd7; }
span.f7b	{ color: #87ffff; }
span.f7c	{ color: #af0000; }
span.f7d	{ color: #af005f; }
span.f7e	{ color: #af0087; }
span.f7f	{ color: #af00af; }
span.f80	{ color: #af00d7; }
span.f81	{ color: #af00ff; }
span.f82	{ color: #af5f00; }
span.f83	{ color: #af5f5f; }
span.f84	{ color: #af5f87; }
span.f85	{ color: #af5faf; }
span.f86	{ color: #af5fd7; }
span.f87	{ color: #af5fff; }
span.f88	{ color: #af8700; }
span.f89	{ color: #af875f; }
span.f8a	{ color: #af8787; }
span.f8b	{ color: #af87af; }
span.f8c	{ color: #af87d7; }
span.f8d	{ color: #af87ff; }
span.f8e	{ color: #afaf00; }
span.f8f	{ color: #afaf5f; }
span.f90	{ color: #afaf87; }
span.f91	{ color: #afafaf; }
span.f92	{ color: #afafd7; }
span.f93	{ color: #afafff; }
span.f94	{ color: #afd700; }
span.f95	{ color: #afd75f; }
span.f96	{ color: #afd787; }
span.f97	{ color: #afd7af; }
span.f98	{ color: #afd7d7; }
span.f99	{ color: #afd7ff; }
span.f9a	{ color: #afff00; }
span.f9b	{ color: #afff5f; }
span.f9c	{ color: #afff87; }
span.f9d	{ color: #afffaf; }
span.f9e	{ color: #afffd7; }
span.f9f	{ color: #afffff; }
span.fa0	{ color: #d70000; }
span.fa1	{ color: #d7005f; }
span.fa2	{ color: #d70087; }
span.fa3	{ color: #d700af; }
span.fa4	{ color: #d700d7; }
span.fa5	{ color: #d700ff; }
span.fa6	{ color: #d75f00; }
span.fa7	{ color: #d75f5f; }
span.fa8	{ color: #d75f87; }
span.fa9	{ color: #d75faf; }
span.faa	{ color: #d75fd7; }
span.fab	{ color: #d75fff; }
span.fac	{ color: #d78700; }
span.fad	{ color: #d7875f; }
span.fae	{ color: #d78787; }
span.faf	{ color: #d787af; }
span.fb0	{ color: #d787d7; }
span.fb1	{ color: #d787ff; }
span.fb2	{ color: #d7af00; }
span.fb3	{ color: #d7af5f; }
span.fb4	{ color: #d7af87; }
span.fb5	{ color: #d7afaf; }
span.fb6	{ color: #d7afd7; }
span.fb7	{ color: #d7afff; }
span.fb8	{ color: #d7d700; }
span.fb9	{ color: #d7d75f; }
span.fba	{ color: #d7d787; }
span.fbb	{ color: #d7d7af; }
span.fbc	{ color: #d7d7d7; }
span.fbd	{ color: #d7d7ff; }
span.fbe	{ color: #d7ff00; }
span.fbf	{ color: #d7ff5f; }
span.fc0	{ color: #d7ff87; }
span.fc1	{ color: #d7ffaf; }
span.fc2	{ color: #d7ffd7; }
span.fc3	{ color: #d7ffff; }
span.fc4	{ color: #ff0000; }
span.fc5	{ color: #ff005f; }
span.fc6	{ color: #ff0087; }
span.fc7	{ color: #ff00af; }
span.fc8	{ color: #ff00d7; }
span.fc9	{ color: #ff00ff; }
span.fca	{ color: #ff5f00; }
span.fcb	{ color: #ff5f5f; }
span.fcc	{ color: #ff5f87; }
span.fcd	{ color: #ff5faf; }
span.fce	{ color: #ff5fd7; }
span.fcf	{ color: #ff5fff; }
span.fd0	{ color: #ff8700; }
span.fd1	{ color: #ff875f; }
span.fd2	{ color: #ff8787; }
span.fd3	{ color: #ff87af; }
span.fd4	{ color: #ff87d7; }
span.fd5	{ color: #ff87ff; }
span.fd6	{ color: #ffaf00; }
span.fd7	{ color: #ffaf5f; }
span.fd8	{ color: #ffaf87; }
span.fd9	{ color: #ffafaf; }
span.fda	{ color: #ffafd7; }
span.fdb	{ color: #ffafff; }
span.fdc	{ color: #ffd700; }
span.fdd	{ color: #ffd75f; }
span.fde	{ color: #ffd787; }
span.fdf	{ color: #ffd7af; }
span.fe0	{ color: #ffd7d7; }
span.fe1	{ color: #ffd7ff; }
span.fe2	{ color: #ffff00; }
span.fe3	{ color: #ffff5f; }
span.fe4	{ color: #ffff87; }
span.fe5	{ color: #ffffaf; }
span.fe6	{ color: #ffffd7; }
span.fe7	{ color: #ffffff; }
span.fe8	{ color: #080808; }
span.fe9	{ color: #121212; }
span.fea	{ color: #1c1c1c; }
span.feb	{ color: #262626; }
span.fec	{ color: #303030; }
span.fed	{ color: #3a3a3a; }
span.fee	{ color: #444444; }
span.fef	{ color: #4e4e4e; }
span.ff0	{ color: #585858; }
span.ff1	{ color: #626262; }
span.ff2	{ color: #6c6c6c; }
span.ff3	{ color: #767676; }
span.ff4	{ color: #808080; }
span.ff5	{ color: #8a8a8a; }
span.ff6	{ color: #949494; }
span.ff7	{ color: #9e9e9e; }
span.ff8	{ color: #a8a8a8; }
span.ff9	{ color: #b2b2b2; }
span.ffa	{ color: #bcbcbc; }
span.ffb	{ color: #c6c6c6; }
span.ffc	{ color: #d0d0d0; }
span.ffd	{ color: #dadada; }
span.ffe	{ color: #e4e4e4; }
span.fff	{ color: #eeeeee; }

/* Fainted foreground colours */
span.f00f	{ color: #080808; }
span.f01f	{ color: #660000; }
span.f02f	{ color: #006600; }
span.f03f	{ color: #666600; }
span.f04f	{ color: #000077; }
span.f05f	{ color: #660066; }
span.f06f	{ color: #006666; }
span.f07f	{ color: #727272; }
span.f08f	{ color: #3f3f3f; }
span.f09f	{ color: #7f0000; }
span.f0af	{ color: #007f00; }
span.f0bf	{ color: #7f7f00; }
span.f0cf	{ color: #2e2e7f; }
span.f0df	{ color: #7f007f; }
span.f0ef	{ color: #007f7f; }
span.f0ff	{ color: #7f7f7f; }
span.f10f	{ color: #000000; }
span.f11f	{ color: #00002f; }
span.f12f	{ color: #000043; }
span.f13f	{ color: #000057; }
span.f14f	{ color: #00006b; }
span.f15f	{ color: #00007f; }
span.f16f	{ color: #002f00; }
span.f17f	{ color: #002f2f; }
span.f18f	{ color: #002f43; }
span.f19f	{ color: #002f57; }
span.f1af	{ color: #002f6b; }
span.f1bf	{ color: #002f7f; }
span.f1cf	{ color: #004300; }
span.f1df	{ color: #00432f; }
span.f1ef	{ color: #004343; }
span.f1ff	{ color: #004357; }
span.f20f	{ color: #00436b; }
span.f21f	{ color: #00437f; }
span.f22f	{ color: #005700; }
span.f23f	{ color: #00572f; }
span.f24f	{ color: #005743; }
span.f25f	{ color: #005757; }
span.f26f	{ color: #00576b; }
span.f27f	{ color: #00577f; }
span.f28f	{ color: #006b00; }
span.f29f	{ color: #006b2f; }
span.f2af	{ color: #006b43; }
span.f2bf	{ color: #006b57; }
span.f2cf	{ color: #006b6b; }
span.f2df	{ color: #006b7f; }
span.f2ef	{ color: #007f00; }
span.f2ff	{ color: #007f2f; }
span.f30f	{ color: #007f43; }
span.f31f	{ color: #007f57; }
span.f32f	{ color: #007f6b; }
span.f33f	{ color: #007f7f; }
span.f34f	{ color: #2f0000; }
span.f35f	{ color: #2f002f; }
span.f36f	{ color: #2f0043; }
span.f37f	{ color: #2f0057; }
span.f38f	{ color: #2f006b; }
span.f39f	{ color: #2f007f; }
span.f3af	{ color: #2f2f00; }
span.f3bf	{ color: #2f2f2f; }
span.f3cf	{ color: #2f2f43; }
span.f3df	{ color: #2f2f57; }
span.f3ef	{ color: #2f2f6b; }
span.f3ff	{ color: #2f2f7f; }
span.f40f	{ color: #2f4300; }
span.f41f	{ color: #2f432f; }
span.f42f	{ color: #2f4343; }
span.f43f	{ color: #2f4357; }
span.f44f	{ color: #2f436b; }
span.f45f	{ color: #2f437f; }
span.f46f	{ color: #2f5700; }
span.f47f	{ color: #2f572f; }
span.f48f	{ color: #2f5743; }
span.f49f	{ color: #2f5757; }
span.f4af	{ color: #2f576b; }
span.f4bf	{ color: #2f577f; }
span.f4cf	{ color: #2f6b00; }
span.f4df	{ color: #2f6b2f; }
span.f4ef	{ color: #2f6b43; }
span.f4ff	{ color: #2f6b57; }
span.f50f	{ color: #2f6b6b; }
span.f51f	{ color: #2f6b7f; }
span.f52f	{ color: #2f7f00; }
span.f53f	{ color: #2f7f2f; }
span.f54f	{ color: #2f7f43; }
span.f55f	{ color: #2f7f57; }
span.f56f	{ color: #2f7f6b; }
span.f57f	{ color: #2f7f7f; }
span.f58f	{ color: #430000; }
span.f59f	{ color: #43002f; }
span.f5af	{ color: #430043; }
span.f5bf	{ color: #430057; }
span.f5cf	{ color: #43006b; }
span.f5df	{ color: #43007f; }
span.f5ef	{ color: #432f00; }
span.f5ff	{ color: #432f2f; }
span.f60f	{ color: #432f43; }
span.f61f	{ color: #432f57; }
span.f62f	{ color: #432f6b; }
span.f63f	{ color: #432f7f; }
span.f64f	{ color: #434300; }
span.f65f	{ color: #43432f; }
span.f66f	{ color: #434343; }
span.f67f	{ color: #434357; }
span.f68f	{ color: #43436b; }
span.f69f	{ color: #43437f; }
span.f6af	{ color: #435700; }
span.f6bf	{ color: #43572f; }
span.f6cf	{ color: #435743; }
span.f6df	{ color: #435757; }
span.f6ef	{ color: #43576b; }
span.f6ff	{ color: #43577f; }
span.f70f	{ color: #436b00; }
span.f71f	{ color: #436b2f; }
span.f72f	{ color: #436b43; }
span.f73f	{ color: #436b57; }
span.f74f	{ color: #436b6b; }
span.f75f	{ color: #436b7f; }
span.f76f	{ color: #437f00; }
span.f77f	{ color: #437f2f; }
span.f78f	{ color: #437f43; }
span.f79f	{ color: #437f57; }
span.f7af	{ color: #437f6b; }
span.f7bf	{ color: #437f7f; }
span.f7cf	{ color: #570000; }
span.f7df	{ color: #57002f; }
span.f7ef	{ color: #570043; }
span.f7ff	{ color: #570057; }
span.f80f	{ color: #57006b; }
span.f81f	{ color: #57007f; }
span.f82f	{ color: #572f00; }
span.f83f	{ color: #572f2f; }
span.f84f	{ color: #572f43; }
span.f85f	{ color: #572f57; }
span.f86f	{ color: #572f6b; }
span.f87f	{ color: #572f7f; }
span.f88f	{ color: #574300; }
span.f89f	{ color: #57432f; }
span.f8af	{ color: #574343; }
span.f8bf	{ color: #574357; }
span.f8cf	{ color: #57436b; }
span.f8df	{ color: #57437f; }
span.f8ef	{ color: #575700; }
span.f8ff	{ color: #57572f; }
span.f90f	{ color: #575743; }
span.f91f	{ color: #575757; }
span.f92f	{ color: #57576b; }
span.f93f	{ color: #57577f; }
span.f94f	{ color: #576b00; }
span.f95f	{ color: #576b2f; }
span.f96f	{ color: #576b43; }
span.f97f	{ color: #576b57; }
span.f98f	{ color: #576b6b; }
span.f99f	{ color: #576b7f; }
span.f9af	{ color: #577f00; }
span.f9bf	{ color: #577f2f; }
span.f9cf	{ color: #577f43; }
span.f9df	{ color: #577f57; }
span.f9ef	{ color: #577f6b; }
span.f9ff	{ color: #577f7f; }
span.fa0f	{ color: #6b0000; }
span.fa1f	{ color: #6b002f; }
span.fa2f	{ color: #6b0043; }
span.fa3f	{ color: #6b0057; }
span.fa4f	{ color: #6b006b; }
span.fa5f	{ color: #6b007f; }
span.fa6f	{ color: #6b2f00; }
span.fa7f	{ color: #6b2f2f; }
span.fa8f	{ color: #6b2f43; }
span.fa9f	{ color: #6b2f57; }
span.faaf	{ color: #6b2f6b; }
span.fabf	{ color: #6b2f7f; }
span.facf	{ color: #6b4300; }
span.fadf	{ color: #6b432f; }
span.faef	{ color: #6b4343; }
span.faff	{ color: #6b4357; }
span.fb0f	{ color: #6b436b; }
span.fb1f	{ color: #6b437f; }
span.fb2f	{ color: #6b5700; }
span.fb3f	{ color: #6b572f; }
span.fb4f	{ color: #6b5743; }
span.fb5f	{ color: #6b5757; }
span.fb6f	{ color: #6b576b; }
span.fb7f	{ color: #6b577f; }
span.fb8f	{ color: #6b6b00; }
span.fb9f	{ color: #6b6b2f; }
span.fbaf	{ color: #6b6b43; }
span.fbbf	{ color: #6b6b57; }
span.fbcf	{ color: #6b6b6b; }
span.fbdf	{ color: #6b6b7f; }
span.fbef	{ color: #6b7f00; }
span.fbff	{ color: #6b7f2f; }
span.fc0f	{ color: #6b7f43; }
span.fc1f	{ color: #6b7f57; }
span.fc2f	{ color: #6b7f6b; }
span.fc3f	{ color: #6b7f7f; }
span.fc4f	{ color: #7f0000; }
span.fc5f	{ color: #7f002f; }
span.fc6f	{ color: #7f0043; }
span.fc7f	{ color: #7f0057; }
span.fc8f	{ color: #7f006b; }
span.fc9f	{ color: #7f007f; }
span.fcaf	{ color: #7f2f00; }
span.fcbf	{ color: #7f2f2f; }
span.fccf	{ color: #7f2f43; }
span.fcdf	{ color: #7f2f57; }
span.fcef	{ color: #7f2f6b; }
span.fcff	{ color: #7f2f7f; }
span.fd0f	{ color: #7f4300; }
span.fd1f	{ color: #7f432f; }
span.fd2f	{ color: #7f4343; }
span.fd3f	{ color: #7f4357; }
span.fd4f	{ color: #7f436b; }
span.fd5f	{ color: #7f437f; }
span.fd6f	{ color: #7f5700; }
span.fd7f	{ color: #7f572f; }
span.fd8f	{ color: #7f5743; }
span.fd9f	{ color: #7f5757; }
span.fdaf	{ color: #7f576b; }
span.fdbf	{ color: #7f577f; }
span.fdcf	{ color: #7f6b00; }
span.fddf	{ color: #7f6b2f; }
span.fdef	{ color: #7f6b43; }
span.fdff	{ color: #7f6b57; }
span.fe0f	{ color: #7f6b6b; }
span.fe1f	{ color: #7f6b7f; }
span.fe2f	{ color: #7f7f00; }
span.fe3f	{ color: #7f7f2f; }
span.fe4f	{ color: #7f7f43; }
span.fe5f	{ color: #7f7f57; }
span.fe6f	{ color: #7f7f6b; }
span.fe7f	{ color: #7f7f7f; }
span.fe8f	{ color: #040404; }
span.fe9f	{ color: #090909; }
span.feaf	{ color: #0e0e0e; }
span.febf	{ color: #131313; }
span.fecf	{ color: #181818; }
span.fedf	{ color: #1d1d1d; }
span.feef	{ color: #222222; }
span.feff	{ color: #272727; }
span.ff0f	{ color: #2c2c2c; }
span.ff1f	{ color: #313131; }
span.ff2f	{ color: #363636; }
span.ff3f	{ color: #3b3b3b; }
span.ff4f	{ color: #404040; }
span.ff5f	{ color: #454545; }
span.ff6f	{ color: #4a4a4a; }
span.ff7f	{ color: #4f4f4f; }
span.ff8f	{ color: #545454; }
span.ff9f	{ color: #595959; }
span.ffaf	{ color: #5e5e5e; }
span.ffbf	{ color: #636363; }
span.ffcf	{ color: #686868; }
span.ffdf	{ color: #6d6d6d; }
span.ffef	{ color: #727272; }
span.ffff	{ color: #777777; }

/* The same for background. */
span.b00	{ background-color: #000000; }
span.b01	{ background-color: #cd0000; }
span.b02	{ background-color: #00cd00; }
span.b03	{ background-color: #cdcd00; }
span.b04	{ background-color: #0000ee; }
span.b05	{ background-color: #cd00cd; }
span.b06	{ background-color: #00cdcd; }
span.b07	{ background-color: #e5e5e5; }
span.b08	{ background-color: #7f7f7f; }
span.b09	{ background-color: #ff0000; }
span.b0a	{ background-color: #00ff00; }
span.b0b	{ background-color: #ffff00; }
span.b0c	{ background-color: #5c5cff; }
span.b0d	{ background-color: #ff00ff; }
span.b0e	{ background-color: #00ffff; }
span.b0f	{ background-color: #ffffff; }
span.b10	{ background-color: #000000; }
span.b11	{ background-color: #00005f; }
span.b12	{ background-color: #000087; }
span.b13	{ background-color: #0000af; }
span.b14	{ background-color: #0000d7; }
span.b15	{ background-color: #0000ff; }
span.b16	{ background-color: #005f00; }
span.b17	{ background-color: #005f5f; }
span.b18	{ background-color: #005f87; }
span.b19	{ background-color: #005faf; }
span.b1a	{ background-color: #005fd7; }
span.b1b	{ background-color: #005fff; }
span.b1c	{ background-color: #008700; }
span.b1d	{ background-color: #00875f; }
span.b1e	{ background-color: #008787; }
span.b1f	{ background-color: #0087af; }
span.b20	{ background-color: #0087d7; }
span.b21	{ background-color: #0087ff; }
span.b22	{ background-color: #00af00; }
span.b23	{ background-color: #00af5f; }
span.b24	{ background-color: #00af87; }
span.b25	{ background-color: #00afaf; }
span.b26	{ background-color: #00afd7; }
span.b27	{ background-color: #00afff; }
span.b28	{ background-color: #00d700; }
span.b29	{ background-color: #00d75f; }
span.b2a	{ background-color: #00d787; }
span.b2b	{ background-color: #00d7af; }
span.b2c	{ background-color: #00d7d7; }
span.b2d	{ background-color: #00d7ff; }
span.b2e	{ background-color: #00ff00; }
span.b2f	{ background-color: #00ff5f; }
span.b30	{ background-color: #00ff87; }
span.b31	{ background-color: #00ffaf; }
span.b32	{ background-color: #00ffd7; }
span.b33	{ background-color: #00ffff; }
span.b34	{ background-color: #5f0000; }
span.b35	{ background-color: #5f005f; }
span.b36	{ background-color: #5f0087; }
span.b37	{ background-color: #5f00af; }
span.b38	{ background-color: #5f00d7; }
span.b39	{ background-color: #5f00ff; }
span.b3a	{ background-color: #5f5f00; }
span.b3b	{ background-color: #5f5f5f; }
span.b3c	{ background-color: #5f5f87; }
span.b3d	{ background-color: #5f5faf; }
span.b3e	{ background-color: #5f5fd7; }
span.b3f	{ background-color: #5f5fff; }
span.b40	{ background-color: #5f8700; }
span.b41	{ background-color: #5f875f; }
span.b42	{ background-color: #5f8787; }
span.b43	{ background-color: #5f87af; }
span.b44	{ background-color: #5f87d7; }
span.b45	{ background-color: #5f87ff; }
span.b46	{ background-color: #5faf00; }
span.b47	{ background-color: #5faf5f; }
span.b48	{ background-color: #5faf87; }
span.b49	{ background-color: #5fafaf; }
span.b4a	{ background-color: #5fafd7; }
span.b4b	{ background-color: #5fafff; }
span.b4c	{ background-color: #5fd700; }
span.b4d	{ background-color: #5fd75f; }
span.b4e	{ background-color: #5fd787; }
span.b4f	{ background-color: #5fd7af; }
span.b50	{ background-color: #5fd7d7; }
span.b51	{ background-color: #5fd7ff; }
span.b52	{ background-color: #5fff00; }
span.b53	{ background-color: #5fff5f; }
span.b54	{ background-color: #5fff87; }
span.b55	{ background-color: #5fffaf; }
span.b56	{ background-color: #5fffd7; }
span.b57	{ background-color: #5fffff; }
span.b58	{ background-color: #870000; }
span.b59	{ background-color: #87005f; }
span.b5a	{ background-color: #870087; }
span.b5b	{ background-color: #8700af; }
span.b5c	{ background-color: #8700d7; }
span.b5d	{ background-color: #8700ff; }
span.b5e	{ background-color: #875f00; }
span.b5f	{ background-color: #875f5f; }
span.b60	{ background-color: #875f87; }
span.b61	{ background-color: #875faf; }
span.b62	{ background-color: #875fd7; }
span.b63	{ background-color: #875fff; }
span.b64	{ background-color: #878700; }
span.b65	{ background-color: #87875f; }
span.b66	{ background-color: #878787; }
span.b67	{ background-color: #8787af; }
span.b68	{ background-color: #8787d7; }
span.b69	{ background-color: #8787ff; }
span.b6a	{ background-color: #87af00; }
span.b6b	{ background-color: #87af5f; }
span.b6c	{ background-color: #87af87; }
span.b6d	{ background-color: #87afaf; }
span.b6e	{ background-color: #87afd7; }
span.b6f	{ background-color: #87afff; }
span.b70	{ background-color: #87d700; }
span.b71	{ background-color: #87d75f; }
span.b72	{ background-color: #87d787; }
span.b73	{ background-color: #87d7af; }
span.b74	{ background-color: #87d7d7; }
span.b75	{ background-color: #87d7ff; }
span.b76	{ background-color: #87ff00; }
span.b77	{ background-color: #87ff5f; }
span.b78	{ background-color: #87ff87; }
span.b79	{ background-color: #87ffaf; }
span.b7a	{ background-color: #87ffd7; }
span.b7b	{ background-color: #87ffff; }
span.b7c	{ background-color: #af0000; }
span.b7d	{ background-color: #af005f; }
span.b7e	{ background-color: #af0087; }
span.b7f	{ background-color: #af00af; }
span.b80	{ background-color: #af00d7; }
span.b81	{ background-color: #af00ff; }
span.b82	{ background-color: #af5f00; }
span.b83	{ background-color: #af5f5f; }
span.b84	{ background-color: #af5f87; }
span.b85	{ background-color: #af5faf; }
span.b86	{ background-color: #af5fd7; }
span.b87	{ background-color: #af5fff; }
span.b88	{ background-color: #af8700; }
span.b89	{ background-color: #af875f; }
span.b8a	{ background-color: #af8787; }
span.b8b	{ background-color: #af87af; }
span.b8c	{ background-color: #af87d7; }
span.b8d	{ background-color: #af87ff; }
span.b8e	{ background-color: #afaf00; }
span.b8f	{ background-color: #afaf5f; }
span.b90	{ background-color: #afaf87; }
span.b91	{ background-color: #afafaf; }
span.b92	{ background-color: #afafd7; }
span.b93	{ background-color: #afafff; }
span.b94	{ background-color: #afd700; }
span.b95	{ background-color: #afd75f; }
span.b96	{ background-color: #afd787; }
span.b97	{ background-color: #afd7af; }
span.b98	{ background-color: #afd7d7; }
span.b99	{ background-color: #afd7ff; }
span.b9a	{ background-color: #afff00; }
span.b9b	{ background-color: #afff5f; }
span.b9c	{ background-color: #afff87; }
span.b9d	{ background-color: #afffaf; }
span.b9e	{ background-color: #afffd7; }
span.b9f	{ background-color: #afffff; }
span.ba0	{ background-color: #d70000; }
span.ba1	{ background-color: #d7005f; }
span.ba2	{ background-color: #d70087; }
span.ba3	{ background-color: #d700af; }
span.ba4	{ background-color: #d700d7; }
span.ba5	{ background-color: #d700ff; }
span.ba6	{ background-color: #d75f00; }
span.ba7	{ background-color: #d75f5f; }
span.ba8	{ background-color: #d75f87; }
span.ba9	{ background-color: #d75faf; }
span.baa	{ background-color: #d75fd7; }
span.bab	{ background-color: #d75fff; }
span.bac	{ background-color: #d78700; }
span.bad	{ background-color: #d7875f; }
span.bae	{ background-color: #d78787; }
span.baf	{ background-color: #d787af; }
span.bb0	{ background-color: #d787d7; }
span.bb1	{ background-color: #d787ff; }
span.bb2	{ background-color: #d7af00; }
span.bb3	{ background-color: #d7af5f; }
span.bb4	{ background-color: #d7af87; }
span.bb5	{ background-color: #d7afaf; }
span.bb6	{ background-color: #d7afd7; }
span.bb7	{ background-color: #d7afff; }
span.bb8	{ background-color: #d7d700; }
span.bb9	{ background-color: #d7d75f; }
span.bba	{ background-color: #d7d787; }
span.bbb	{ background-color: #d7d7af; }
span.bbc	{ background-color: #d7d7d7; }
span.bbd	{ background-color: #d7d7ff; }
span.bbe	{ background-color: #d7ff00; }
span.bbf	{ background-color: #d7ff5f; }
span.bc0	{ background-color: #d7ff87; }
span.bc1	{ background-color: #d7ffaf; }
span.bc2	{ background-color: #d7ffd7; }
span.bc3	{ background-color: #d7ffff; }
span.bc4	{ background-color: #ff0000; }
span.bc5	{ background-color: #ff005f; }
span.bc6	{ background-color: #ff0087; }
span.bc7	{ background-color: #ff00af; }
span.bc8	{ background-color: #ff00d7; }
span.bc9	{ background-color: #ff00ff; }
span.bca	{ background-color: #ff5f00; }
span.bcb	{ background-color: #ff5f5f; }
span.bcc	{ background-color: #ff5f87; }
span.bcd	{ background-color: #ff5faf; }
span.bce	{ background-color: #ff5fd7; }
span.bcf	{ background-color: #ff5fff; }
span.bd0	{ background-color: #ff8700; }
span.bd1	{ background-color: #ff875f; }
span.bd2	{ background-color: #ff8787; }
span.bd3	{ background-color: #ff87af; }
span.bd4	{ background-color: #ff87d7; }
span.bd5	{ background-color: #ff87ff; }
span.bd6	{ background-color: #ffaf00; }
span.bd7	{ background-color: #ffaf5f; }
span.bd8	{ background-color: #ffaf87; }
span.bd9	{ background-color: #ffafaf; }
span.bda	{ background-color: #ffafd7; }
span.bdb	{ background-color: #ffafff; }
span.bdc	{ background-color: #ffd700; }
span.bdd	{ background-color: #ffd75f; }
span.bde	{ background-color: #ffd787; }
span.bdf	{ background-color: #ffd7af; }
span.be0	{ background-color: #ffd7d7; }
span.be1	{ background-color: #ffd7ff; }
span.be2	{ background-color: #ffff00; }
span.be3	{ background-color: #ffff5f; }
span.be4	{ background-color: #ffff87; }
span.be5	{ background-color: #ffffaf; }
span.be6	{ background-color: #ffffd7; }
span.be7	{ background-color: #ffffff; }
span.be8	{ background-color: #080808; }
span.be9	{ background-color: #121212; }
span.bea	{ background-color: #1c1c1c; }
span.beb	{ background-color: #262626; }
span.bec	{ background-color: #303030; }
span.bed	{ background-color: #3a3a3a; }
span.bee	{ background-color: #444444; }
span.bef	{ background-color: #4e4e4e; }
span.bf0	{ background-color: #585858; }
span.bf1	{ background-color: #626262; }
span.bf2	{ background-color: #6c6c6c; }
span.bf3	{ background-color: #767676; }
span.bf4	{ background-color: #808080; }
span.bf5	{ background-color: #8a8a8a; }
span.bf6	{ background-color: #949494; }
span.bf7	{ background-color: #9e9e9e; }
span.bf8	{ background-color: #a8a8a8; }
span.bf9	{ background-color: #b2b2b2; }
span.bfa	{ background-color: #bcbcbc; }
span.bfb	{ background-color: #c6c6c6; }
span.bfc	{ background-color: #d0d0d0; }
span.bfd	{ background-color: #dadada; }
span.bfe	{ background-color: #e4e4e4; }
span.bff	{ background-color: #eeeeee; }
span.b00f	{ background-color: #000000; }
span.b01f	{ background-color: #660000; }
span.b02f	{ background-color: #006600; }
span.b03f	{ background-color: #666600; }
span.b04f	{ background-color: #000077; }
span.b05f	{ background-color: #660066; }
span.b06f	{ background-color: #006666; }
span.b07f	{ background-color: #727272; }
span.b08f	{ background-color: #3f3f3f; }
span.b09f	{ background-color: #7f0000; }
span.b0af	{ background-color: #007f00; }
span.b0bf	{ background-color: #7f7f00; }
span.b0cf	{ background-color: #2e2e7f; }
span.b0df	{ background-color: #7f007f; }
span.b0ef	{ background-color: #007f7f; }
span.b0ff	{ background-color: #7f7f7f; }
span.b10f	{ background-color: #000000; }
span.b11f	{ background-color: #00002f; }
span.b12f	{ background-color: #000043; }
span.b13f	{ background-color: #000057; }
span.b14f	{ background-color: #00006b; }
span.b15f	{ background-color: #00007f; }
span.b16f	{ background-color: #002f00; }
span.b17f	{ background-color: #002f2f; }
span.b18f	{ background-color: #002f43; }
span.b19f	{ background-color: #002f57; }
span.b1af	{ background-color: #002f6b; }
span.b1bf	{ background-color: #002f7f; }
span.b1cf	{ background-color: #004300; }
span.b1df	{ background-color: #00432f; }
span.b1ef	{ background-color: #004343; }
span.b1ff	{ background-color: #004357; }
span.b20f	{ background-color: #00436b; }
span.b21f	{ background-color: #00437f; }
span.b22f	{ background-color: #005700; }
span.b23f	{ background-color: #00572f; }
span.b24f	{ background-color: #005743; }
span.b25f	{ background-color: #005757; }
span.b26f	{ background-color: #00576b; }
span.b27f	{ background-color: #00577f; }
span.b28f	{ background-color: #006b00; }
span.b29f	{ background-color: #006b2f; }
span.b2af	{ background-color: #006b43; }
span.b2bf	{ background-color: #006b57; }
span.b2cf	{ background-color: #006b6b; }
span.b2df	{ background-color: #006b7f; }
span.b2ef	{ background-color: #007f00; }
span.b2ff	{ background-color: #007f2f; }
span.b30f	{ background-color: #007f43; }
span.b31f	{ background-color: #007f57; }
span.b32f	{ background-color: #007f6b; }
span.b33f	{ background-color: #007f7f; }
span.b34f	{ background-color: #2f0000; }
span.b35f	{ background-color: #2f002f; }
span.b36f	{ background-color: #2f0043; }
span.b37f	{ background-color: #2f0057; }
span.b38f	{ background-color: #2f006b; }
span.b39f	{ background-color: #2f007f; }
span.b3af	{ background-color: #2f2f00; }
span.b3bf	{ background-color: #2f2f2f; }
span.b3cf	{ background-color: #2f2f43; }
span.b3df	{ background-color: #2f2f57; }
span.b3ef	{ background-color: #2f2f6b; }
span.b3ff	{ background-color: #2f2f7f; }
span.b40f	{ background-color: #2f4300; }
span.b41f	{ background-color: #2f432f; }
span.b42f	{ background-color: #2f4343; }
span.b43f	{ background-color: #2f4357; }
span.b44f	{ background-color: #2f436b; }
span.b45f	{ background-color: #2f437f; }
span.b46f	{ background-color: #2f5700; }
span.b47f	{ background-color: #2f572f; }
span.b48f	{ background-color: #2f5743; }
span.b49f	{ background-color: #2f5757; }
span.b4af	{ background-color: #2f576b; }
span.b4bf	{ background-color: #2f577f; }
span.b4cf	{ background-color: #2f6b00; }
span.b4df	{ background-color: #2f6b2f; }
span.b4ef	{ background-color: #2f6b43; }
span.b4ff	{ background-color: #2f6b57; }
span.b50f	{ background-color: #2f6b6b; }
span.b51f	{ background-color: #2f6b7f; }
span.b52f	{ background-color: #2f7f00; }
span.b53f	{ background-color: #2f7f2f; }
span.b54f	{ background-color: #2f7f43; }
span.b55f	{ background-color: #2f7f57; }
span.b56f	{ background-color: #2f7f6b; }
span.b57f	{ background-color: #2f7f7f; }
span.b58f	{ background-color: #430000; }
span.b59f	{ background-color: #43002f; }
span.b5af	{ background-color: #430043; }
span.b5bf	{ background-color: #430057; }
span.b5cf	{ background-color: #43006b; }
span.b5df	{ background-color: #43007f; }
span.b5ef	{ background-color: #432f00; }
span.b5ff	{ background-color: #432f2f; }
span.b60f	{ background-color: #432f43; }
span.b61f	{ background-color: #432f57; }
span.b62f	{ background-color: #432f6b; }
span.b63f	{ background-color: #432f7f; }
span.b64f	{ background-color: #434300; }
span.b65f	{ background-color: #43432f; }
span.b66f	{ background-color: #434343; }
span.b67f	{ background-color: #434357; }
span.b68f	{ background-color: #43436b; }
span.b69f	{ background-color: #43437f; }
span.b6af	{ background-color: #435700; }
span.b6bf	{ background-color: #43572f; }
span.b6cf	{ background-color: #435743; }
span.b6df	{ background-color: #435757; }
span.b6ef	{ background-color: #43576b; }
span.b6ff	{ background-color: #43577f; }
span.b70f	{ background-color: #436b00; }
span.b71f	{ background-color: #436b2f; }
span.b72f	{ background-color: #436b43; }
span.b73f	{ background-color: #436b57; }
span.b74f	{ background-color: #436b6b; }
span.b75f	{ background-color: #436b7f; }
span.b76f	{ background-color: #437f00; }
span.b77f	{ background-color: #437f2f; }
span.b78f	{ background-color: #437f43; }
span.b79f	{ background-color: #437f57; }
span.b7af	{ background-color: #437f6b; }
span.b7bf	{ background-color: #437f7f; }
span.b7cf	{ background-color: #570000; }
span.b7df	{ background-color: #57002f; }
span.b7ef	{ background-color: #570043; }
span.b7ff	{ background-color: #570057; }
span.b80f	{ background-color: #57006b; }
span.b81f	{ background-color: #57007f; }
span.b82f	{ background-color: #572f00; }
span.b83f	{ background-color: #572f2f; }
span.b84f	{ background-color: #572f43; }
span.b85f	{ background-color: #572f57; }
span.b86f	{ background-color: #572f6b; }
span.b87f	{ background-color: #572f7f; }
span.b88f	{ background-color: #574300; }
span.b89f	{ background-color: #57432f; }
span.b8af	{ background-color: #574343; }
span.b8bf	{ background-color: #574357; }
span.b8cf	{ background-color: #57436b; }
span.b8df	{ background-color: #57437f; }
span.b8ef	{ background-color: #575700; }
span.b8ff	{ background-color: #57572f; }
span.b90f	{ background-color: #575743; }
span.b91f	{ background-color: #575757; }
span.b92f	{ background-color: #57576b; }
span.b93f	{ background-color: #57577f; }
span.b94f	{ background-color: #576b00; }
span.b95f	{ background-color: #576b2f; }
span.b96f	{ background-color: #576b43; }
span.b97f	{ background-color: #576b57; }
span.b98f	{ background-color: #576b6b; }
span.b99f	{ background-color: #576b7f; }
span.b9af	{ background-color: #577f00; }
span.b9bf	{ background-color: #577f2f; }
span.b9cf	{ background-color: #577f43; }
span.b9df	{ background-color: #577f57; }
span.b9ef	{ background-color: #577f6b; }
span.b9ff	{ background-color: #577f7f; }
span.ba0f	{ background-color: #6b0000; }
span.ba1f	{ background-color: #6b002f; }
span.ba2f	{ background-color: #6b0043; }
span.ba3f	{ background-color: #6b0057; }
span.ba4f	{ background-color: #6b006b; }
span.ba5f	{ background-color: #6b007f; }
span.ba6f	{ background-color: #6b2f00; }
span.ba7f	{ background-color: #6b2f2f; }
span.ba8f	{ background-color: #6b2f43; }
span.ba9f	{ background-color: #6b2f57; }
span.baaf	{ background-color: #6b2f6b; }
span.babf	{ background-color: #6b2f7f; }
span.bacf	{ background-color: #6b4300; }
span.badf	{ background-color: #6b432f; }
span.baef	{ background-color: #6b4343; }
span.baff	{ background-color: #6b4357; }
span.bb0f	{ background-color: #6b436b; }
span.bb1f	{ background-color: #6b437f; }
span.bb2f	{ background-color: #6b5700; }
span.bb3f	{ background-color: #6b572f; }
span.bb4f	{ background-color: #6b5743; }
span.bb5f	{ background-color: #6b5757; }
span.bb6f	{ background-color: #6b576b; }
span.bb7f	{ background-color: #6b577f; }
span.bb8f	{ background-color: #6b6b00; }
span.bb9f	{ background-color: #6b6b2f; }
span.bbaf	{ background-color: #6b6b43; }
span.bbbf	{ background-color: #6b6b57; }
span.bbcf	{ background-color: #6b6b6b; }
span.bbdf	{ background-color: #6b6b7f; }
span.bbef	{ background-color: #6b7f00; }
span.bbff	{ background-color: #6b7f2f; }
span.bc0f	{ background-color: #6b7f43; }
span.bc1f	{ background-color: #6b7f57; }
span.bc2f	{ background-color: #6b7f6b; }
span.bc3f	{ background-color: #6b7f7f; }
span.bc4f	{ background-color: #7f0000; }
span.bc5f	{ background-color: #7f002f; }
span.bc6f	{ background-color: #7f0043; }
span.bc7f	{ background-color: #7f0057; }
span.bc8f	{ background-color: #7f006b; }
span.bc9f	{ background-color: #7f007f; }
span.bcaf	{ background-color: #7f2f00; }
span.bcbf	{ background-color: #7f2f2f; }
span.bccf	{ background-color: #7f2f43; }
span.bcdf	{ background-color: #7f2f57; }
span.bcef	{ background-color: #7f2f6b; }
span.bcff	{ background-color: #7f2f7f; }
span.bd0f	{ background-color: #7f4300; }
span.bd1f	{ background-color: #7f432f; }
span.bd2f	{ background-color: #7f4343; }
span.bd3f	{ background-color: #7f4357; }
span.bd4f	{ background-color: #7f436b; }
span.bd5f	{ background-color: #7f437f; }
span.bd6f	{ background-color: #7f5700; }
span.bd7f	{ background-color: #7f572f; }
span.bd8f	{ background-color: #7f5743; }
span.bd9f	{ background-color: #7f5757; }
span.bdaf	{ background-color: #7f576b; }
span.bdbf	{ background-color: #7f577f; }
span.bdcf	{ background-color: #7f6b00; }
span.bddf	{ background-color: #7f6b2f; }
span.bdef	{ background-color: #7f6b43; }
span.bdff	{ background-color: #7f6b57; }
span.be0f	{ background-color: #7f6b6b; }
span.be1f	{ background-color: #7f6b7f; }
span.be2f	{ background-color: #7f7f00; }
span.be3f	{ background-color: #7f7f2f; }
span.be4f	{ background-color: #7f7f43; }
span.be5f	{ background-color: #7f7f57; }
span.be6f	{ background-color: #7f7f6b; }
span.be7f	{ background-color: #7f7f7f; }
span.be8f	{ background-color: #040404; }
span.be9f	{ background-color: #090909; }
span.beaf	{ background-color: #0e0e0e; }
span.bebf	{ background-color: #131313; }
span.becf	{ background-color: #181818; }
span.bedf	{ background-color: #1d1d1d; }
span.beef	{ background-color: #222222; }
span.beff	{ background-color: #272727; }
span.bf0f	{ background-color: #2c2c2c; }
span.bf1f	{ background-color: #313131; }
span.bf2f	{ background-color: #363636; }
span.bf3f	{ background-color: #3b3b3b; }
span.bf4f	{ background-color: #404040; }
span.bf5f	{ background-color: #454545; }
span.bf6f	{ background-color: #4a4a4a; }
span.bf7f	{ background-color: #4f4f4f; }
span.bf8f	{ background-color: #545454; }
span.bf9f	{ background-color: #595959; }
span.bfaf	{ background-color: #5e5e5e; }
span.bfbf	{ background-color: #636363; }
span.bfcf	{ background-color: #686868; }
span.bfdf	{ background-color: #6d6d6d; }
span.bfef	{ background-color: #727272; }
span.bfff	{ background-color: #777777; }

