:host {
  display: flex;
  flex-direction: column;
  min-height: 0;
  position: relative;

  .mud-output {
    flex: 1 1 0;
    background-color: black;
    min-height: 0;
    overflow: hidden;
  }

  .sr-announcer {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: pre-wrap;
    border: 0;
  }

  .sr-input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: pre-wrap;
    border: 0;
  }

  .sr-history {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 40vh;
    overflow: auto;

    /* KEIN opacity */
    opacity: 1;

    /* KEIN clip/clip-path */
    clip: auto;
    clip-path: none;

    /* Text unsichtbar, Box bleibt „sichtbar“ */
    color: transparent;
    background: transparent;

    /* Damit es nicht klickt */
    pointer-events: none;
  }

  // .sr-input-committed {
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 40vh;
  //   opacity: 0.001; /* quasi unsichtbar */
  //   pointer-events: none; /* verhindert Maus-Klicks */
  //   overflow: auto;
  //   z-index: 0;
  // }

  .sr-log-item {
    white-space: pre-wrap;
  }

  /* Optionales Styling */
  .disconnected-panel {
    flex: 0 0 auto;
    text-align: center;
    padding: 1rem;
  }
}
