:host {
  display: flex;
  flex-direction: column;
  min-height: 0;
  position: relative;

  .mud-output {
    flex: 1 1 0;
    background-color: black;
    min-height: 0;
    overflow: hidden;
  }

  .sr-announcer {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: pre-wrap;
    border: 0;
  }

  .sr-input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: pre-wrap;
    border: 0;
  }

  .sr-history {
    flex: 0 0 30vh;
    overflow: auto;
    position: relative;
    z-index: 9999;
    background: white;
    color: black;
    border: 3px solid red;
  }

  // .sr-log-item {
  //   white-space: pre-wrap;
  // }

  /* Optionales Styling */
  .disconnected-panel {
    flex: 0 0 auto;
    text-align: center;
    padding: 1rem;
  }
}
