<form *ngIf="authService.isLoggedOn() === false" (ngSubmit)="f.form.valid && doLogin()" #f="ngForm" class="login-form">
    <mat-form-field class="login-full-width">
        <input matInput type="text" required minlength="3" maxlength="12" placeholder="Charaktername" [(ngModel)]="logonname" #flogonname="ngModel" name="flogonname">
    </mat-form-field>
    <div *ngIf="flogonname.invalid && (flogonname.dirty || flogonname.touched || f.submitted)" class="alert alert-danger">
        <div *ngIf="flogonname.errors.required">Name des Spielcharakters ist notwendig</div>
        <div *ngIf="flogonname.errors.minlength">Der Name hat mindestens 3 Zeichen</div>
        <div *ngIf="flogonname.errors.maxlength">Der Name hat maximal 12 Zeichen</div>
    </div>
    <mat-form-field class="login-full-width">
        <input matInput type="password" placeholder="Passwort" [(ngModel)]="password"  name="fpassword1">
    </mat-form-field>
    <button mat-raised-button color="primary">Anmelden</button>
</form>
<div *ngIf="authService.isLoggedOn() === true">
    Angemeldet:{{logonname}}<br/>
</div>
<div>{{msg}}</div>